/IceCream/nbproject/private/
/IceCream/build/
/firstsubroutines/nbproject/private/
/firstsubroutines/build/
/JavaApplication9/nbproject/private/
/StatCalc/nbproject/private/
/PayrollSystem/nbproject/private/
/staticValues/nbproject/private/
/StatCalcTest/nbproject/private/
/StatCalcTest/build/